/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Nova+Round&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');

body {
  font-family: monospace;
  /* background-color: #3c283c; */
  background-color: #403040;
  color: white;
  /* margin-left: 4%; */
  border: 1px;
  margin: 2%;
  margin-left: 4%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /* font-family: 'Nova Round', cursive; */
  font-family: 'Alata', sans-serif;
  /* font-family: monospace; */
  font-size: 300%;
  color: #FFB264;
  /* text-align: center; */
  /* margin-left: 4%; */
}

#search {
  display: flex;
  align-items: flex-end;
}

#logo {
  display: flex;
  align-items: flex-end;
}

/* #search-input {
  display: flex;
  align-items: center;
} */

table {
  text-align: left;
  /* margin-left: 4%; */
}

td{
  padding:1px;
}

#logo2{
  opacity: 0.6;
}

input{
  opacity:0.9;
  font-size: 40%;
}

menu {

}


footer {

}
